h1{color:rgb(165, 10, 170) ; font-family:"Impact" ; text-align:center; }
h2{color:orangered ; font-family:"Impact" ; text-align:center; }
p{font-family:"Bahnschrift"; }
.center{display:block; margin-left: auto;margin-right: auto;}
h3{color:rgb(165, 10, 170) ; font: 40px Impact ; text-align:center; }
li{color:rgb(190, 18, 12) ; font: 25px Impact ; text-align:left; }
h4{color:rgb(0, 0, 0) ; font: 18px Impact ; text-align:left; }
dd{color:rgb(90, 5, 5) ; font: 25px Impact ; text-align:left; }